@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 600px;
}

  #color-text{
      margin: 10px 5px 10px 5px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(245, 117, 13);
      height: 270px; 
      box-shadow: 5px 10px 8px #888888;  
  }

  #color-text #write{ 
      padding-top: 10px;
      color: white;
      font-size: 30px;
      margin: 20px; 
  }

  #color-text #links-menu a{
      text-decoration: none;
      border: 2px solid white;
      padding: 10px 60px;
      color: rgb(95, 86, 86);
      margin: 30px;
  }
  #links-menu{
      padding-top: 50px;
  }

  #links-menu a:hover{
    background-color: white;
    color:rgb(245, 117, 13);
  }

  .asideimages{
      margin-top: 20px;
      margin: 45px 45px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  aside #tagtex{
     text-align: center;
     font-size: 80px;
     font-weight: bold;
  }

.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}



.product-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

    .product-container::-webkit-scrollbar {
        display: none;
    }

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    color: black;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    text-decoration: none;
}



.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}


.pre-btn,
.nxt-btn {
    border: none;
    width: 20px;
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}


.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

    .pre-btn img,
    .nxt-btn img {
        opacity: 0.2;
    }

    .pre-btn:hover img,
    .nxt-btn:hover img {
        opacity: 1;
    }

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

    .collection img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .collection p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        font-size: 50px;
        text-transform: capitalize;
    }

    .collection:nth-child(3) {
        grid-column: span 2;
        margin-bottom: 10px;
    }




.productshopall{
    position: relative;
    left: 550px;
}
#product-shop-all{
    text-align: center;
    margin-top: 80px;
    
}
 #product-shop-all a{
    padding: 15px;
    text-decoration: none;
    border: 2px solid rgb(245, 117, 13);
    border-radius: 5px;
    color: rgb(245, 117, 13);
    
}

#product-shop-all a:hover {
    background-color: rgb(245, 117, 13);
    color: black;
  }

  footer{
      margin-top: 200px;
      background-color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 19px;
      height: 400px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 30px;
  }
footer ul{
    list-style-type: none;
}
footer ul a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
 
 
  



  


  
 
  
