
@{
    ViewData["Title"] = "About";
}


<div class="about-logo">
    <img src="./Assets/images/about-img/about-logoimg.png" alt="">
</div>


<div class="about-container">
    <div class="left-text-about">
        <p>

            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
        </p>
        <p>
            This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors.
        </p>
        <p>
            At Wix we’re passionate about making templates that allow you to build fabulous websites and it’s all thanks to the support and feedback from users like you! Keep up to date with New Releases and what’s Coming Soon in Wixellaneous in Support. Feel free to tell us what you think and give us feedback in the Wix Forum.
        </p>
    </div>
    <div class="right-foto-about">
        <img src="~/Assets/images/about-img/contactimg1.png" alt="">
    </div>
</div>

